{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Auction
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
<p>
  You are competing with <b>{{Constants.num_others}}</b> other  participants for a prize of
  <b>{{Constants.prize}}</b>.
</p>
<p>The person who places the highest bid will get the item, and pay the amount of the second highest bid. </p>
<p>
  You have <b>{{Constants.endowment}}</b> to spend in this auction.
</p>

<!--
<p>
  Each click on the button will raise the price that you will pay by 10 points.
</p>
<p>
  After a player places a bid the timer is reset, so that all players have <b>{{Constants.extra_time}}</b> seconds to react.</b>
</p>
</div>
-->

<!--
<div id="otree-timeout">Time left to the end of the auction: <span id="minutes"></span>:<span id="seconds"></span></div>
-->

<div id="winner"></div>
<div>Current price: <b><span id="displayed_price"></span></b></div>
<input id="player_bid_field" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="FirstName">
<input id='button_bid'
class="btn  btn-large btn-primary next-button" onclick='sendmessage()'
type="button"  value="sBuy">
<br>
<input id='button_next'
class="btn  btn-large btn-primary next-button" onclick='sendproceed()'
type="button"  value="Finish bidding">
<br>



{% endblock %}


{% block scripts %}

<script>


  var winner = 'You are the highest bidder right now';
  var loser = 'You are NOT the highest bidder right now!';




window.onload = function() {

  var curprice = {{group.second_price}}
  $('#displayed_price').html(curprice);
  curbtntxt = curprice>0?'Raise bid':'Bid';
     $('#button_bid').prop('value', curbtntxt);


  var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/ebay/group{{group.id}}");


  // Handle any errors that occur.
  socket.onerror = function(error) {
    console.log('WebSocket Error: ' + error);
  };



sendmessage = function(what) {

  var msg = {
          id: {{player.id}},
          id_in_group: {{player.id_in_group}},
          cur_player_bid: document.getElementById("player_bid_field").value,
      };
      if(socket.readyState === socket.OPEN){
          socket.send(JSON.stringify(msg));
      }

}

sendproceed = function(what) {

}

  // Show a connected message when the WebSocket is opened.
  socket.onopen = function(event) {
    console.log('connected to oTree');
  };


  // Handle messages sent by the server.
  socket.onmessage = function(event) {
    var obj = jQuery.parseJSON(event.data);
    curprice = obj.price;
    $('#displayed_price').html(curprice);

    curbtntxt = curprice>0?'Raise bid':'Bid';
    $('#button_bid').prop('value', curbtntxt);

    curwinner = obj.winner=={{player.id_in_group}}? winner:loser;
    $('#winner').html(curwinner);

  };


  // Show a disconnected message when the WebSocket is closed.
  socket.onclose = function(event) {
    console.log('disconnected from oTree');
  };


};


</script>
{% endblock %}
